.container{
    border: 1px solid;
    padding: 1rem;
    max-width: 400px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: greenyellow;
    font-size: 20px;
}
.nav-links{
    display: flex;
}
.nav-links .nav-link{
    margin: 0 10px;
}
.nav-links .nav-link a{
    text-decoration: none;
    font-size: 12px;
    color: black;
}
 button{
    border: 0;
    background-color: greenyellow;
    color: white;
    font-size: 10px;
    padding: 4px;
    border-radius: 2px;
}
.prod{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
.product{
    width: 300px;
}
.product p{
    font-size: 12px;
    margin: 0;
}
.product h2{
    margin: 2px 0;
}
.image img{
    height: 100px;
}